* {
    font-family: 'Sukhumvit set', 'source sans pro', 'roboto', sans-serif;
    color: #5a5a5a;
    list-style: none;
    list-style-position: outside;
    box-sizing: border-box;
}

img {
    max-height: 100%;
    max-width: 100%; 
 }

h1 {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #17a1e5;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 20px auto;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    max-width: 900px;
    /* background-color: bisque; */
    margin: 0 auto;
}

.header {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-link:hover {
    color: #e545b0;
}

.skills-link:hover {
    color: #e545b0;
}

.desktop-title {
    display: none;
}

.project-text {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    order: 1;
    width: 90%;
}

.page-code {
    display: none;
}

.mobile-page-code {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    width: 200px;
    font-size: 28px;
    text-decoration: underline;
}

.footer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-inline-start: 0;
}

.contact li {
    flex: 1 auto 1;
    margin: 0 20px;
    list-style-position: outside;
}

.contact-seperator {
    display: none;
}

.page-selector {
    display: flex;
    order: 1;
}

.divider {
    display: flex;
    order: 2;
}

.code-selector {
    display: flex;
    order: 3;
}

.page-selector:hover {
    color: #e545b0;
}

.code-selector:hover {
    color: #17a1e5;
}

.code-selector:hover ~ .divider {
    color: #17a1e5;
}

.page-selector:hover ~ .divider {
    color: #e545b0;
}

@media screen and (min-width: 992px) {
    .mobile-title {
        display: none;
    }
    .project-text {
        width: 50%;
        min-width: 390px;
        margin: 10px;
    }
    .page-code {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 200px;
        font-size: 28px;
        text-decoration: underline;
    }
    .mobile-page-code {
        display: none;
    }
    .footer {
        font-size: 20px;
    }
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 600px;
        margin: 0 auto;
    }
    .contact-seperator {
        display: inline-block;
    }
}



/* odd project */




.project-word-guess {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eaeaea;
    border-bottom: 3px solid #dddddd;
    margin: 0 auto 100px auto;
    max-width: 600px;
}

.project-word-guess .project-text {
    order: 2;
}

.word-guess-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 300px;
    max-width: 780px;
    min-height: 240px;
    max-height: 550px;
    width: 90%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url(images/mystery-word-bg.png) center/cover;
    margin: 0 auto;
    order: 2;
}

@media screen and (min-width: 992px) {
    .project-word-guess {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #eaeaea;
        border-bottom: 3px solid #dddddd;
        margin-bottom: 100px;
        max-width: 800px;
    }
    .word-guess-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-width: 390px;
        max-width: 780px;
        min-height: 240px;
        max-height: 550px;
        width: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url(images/mystery-word-bg.png) center/cover;
        margin: 10px;
        order: 2;
    }
    .project-word-guess .project-text {
        order: 1;
    }
}



/* even projects */




.project-flavordome {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eaeaea;
    border-bottom: 3px solid #dddddd;
    margin: 0 auto 100px auto;
    max-width: 600px;
}

.flavordome-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 300px;
    max-width: 780px;
    min-height: 240px;
    max-height: 550px;
    width: 90%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(images/flavordome-thumb.png) center/cover;
    margin: 0 auto;
    order: 1;
}


@media screen and (min-width: 992px) {
    .project-flavordome {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #eaeaea;
        border-bottom: 3px solid #dddddd;
        margin-bottom: 100px;
        max-width: 800px;
    }
    .flavordome-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-width: 390px;
        max-width: 780px;
        min-height: 240px;
        max-height: 550px;
        width: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(images/flavordome-thumb.png) center/cover;
        margin: 10px;
        order: 1;
    }
}
