* {
    font-family: 'Sukhumvit set', 'source sans pro', 'roboto', sans-serif;
    color: #5a5a5a;
    list-style: none;
    list-style-position: outside;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
}

p {
    margin: 0 auto;
    font-size: 20px;
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%; 
}

.container {
    text-align: center;
}

.header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 90%;
    min-width: 400px;
    max-width: 600px;
}

.main {
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

.micky-grey {
    position: absolute;
    text-align: left;
    height: 400px;
    width: 200px;
    margin: 0 20px;
    background-image: url(images/micky-grey.png);
    background-size: cover;
}

.micky-blue {
    position: absolute;
    text-align: left;
    height: 400px;
    width: 200px;
    background-image: url(images/micky-blue.png);
    background-size: cover;
    display: none;
}

.micky-pink {
    position: absolute;
    text-align: left;
    height: 400px;
    width: 200px;
    background-image: url(images/micky-pink.png);
    background-size: cover;
    display: none;
}

.code-link {
    float: right;
    padding: 0 5%;
    margin: 20% 10% 5% 60%;
    font-size: 50px;
    font-weight: 200;
}

.skills-link {
    float: right;
    padding: 0 5%;
    margin: 5% 10% 0 60%;
    font-size: 50px;
    font-weight: 200;
}

.footer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 30px auto;
    padding-inline-start: 0;
}

.contact-seperator {
    display: none;
}

/* here's where I use a media query to center my head and have the link options at positions 1 and 3 on desktop */

@media screen and (min-width: 992px) {
    
    h1 {
        font-size: 72px;
    }
    
    .container {
        max-width: 1920px;
    }
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 500px;
        width: 700px;
    }
    .code-link {
        display: flex;
        align-items: center;
        padding: 0 20% 0 0;
        margin: 40% 0;
        font-size: 55px;
        font-weight: 200;
        order: 1;
    }
    .skills-link {
        display: flex;
        align-items: center;
        padding: 0 0 0 20%;
        margin: 40% 0;
        font-size: 55px;
        font-weight: 200;
        order: 3;
    }
    .micky-grey {
        display: flex;
        height: 500px;
        width: 250px;
        margin: 0;
        background-image: url(images/micky-grey.png);
        background-size: cover;
        order: 2;
    }
    .micky-blue {
        height: 500px;
        width: 250px;
        background-image: url(images/micky-blue.png);
        background-size: cover;
    }
    .micky-pink {
        height: 500px;
        width: 250px;
        background-image: url(images/micky-pink.png);
        background-size: cover;
    }
    .footer {
        font-size: 20px;
    }
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px 0 100px;
        max-width: 600px;
        list-style-position: outside;
    }
    .contact-seperator {
        display: inline-block;
    }
}

/* this changes the color of code and skills when hovering... */

.skills-link:link {
    color: #5a5a5a;
}

.skills-link:hover a {
    font-style: italic;
    color: #e545b0;
}

.skills-link:hover ~ .micky-grey {
    display: none;
}

.skills-link:hover ~ .micky-pink {
    display: block;
}

.code-link:hover ~ .micky-grey {
    display: none;
}

.code-link:hover ~ .micky-blue {
    display: block;
}

.code-link:link {
    color: #5a5a5a;
}

.code-link:hover a {
    font-style: italic;
    color: #17a1e5;
}
