* {
    font-family: 'Sukhumvit set', 'source sans pro', 'roboto', sans-serif;
    color: #5a5a5a;
    list-style: none;
    list-style-position: outside;
    box-sizing: border-box;
}

img {
   max-height: 100%;
   max-width: 100%; 
}

a {
    text-decoration: none;
}

.container {
    max-width: 768px;
    /* background-color: bisque; */
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1920px;
    }
}

.header {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}

h1 {
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
}

.header p {
    margin-top: 0;
}

.main {
    margin: 0 auto;
    height: 400px;
    width: 400px;
}

/* making each image exist in the same position, layered on top of each other */

.micky-grey {
    position: absolute;
    text-align: left;
    min-height: 400px;
    max-height: 400px;
    min-width: 200px;
    max-width: 200px;
    background-image: url(micky-grey.png);
    background-size: cover;
}

.micky-blue {
    position: absolute;
    text-align: left;
    min-height: 400px;
    max-height: 400px;
    min-width: 200px;
    max-width: 200px;
    background-image: url(micky-blue.png);
    background-size: cover;
    display: none;
}

.micky-pink {
    position: absolute;
    text-align: left;
    min-height: 400px;
    max-height: 400px;
    min-width: 200px;
    max-width: 200px;
    background-image: url(micky-pink.png);
    background-size: cover;
    display: none;
}

/* manually positioning the links */

.code-link {
    float: right;
    padding: 0 5%;
    margin: 20% 10% 5% 60%;
    font-size: 50px;
    font-weight: 200;
}

.skills-link {
    float: right;
    padding: 0 5%;
    margin: 5% 10% 0 60%;
    font-size: 50px;
    font-weight: 200;
}

@media screen and (min-width: 992px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        height: 500px;
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    .code-link {
        display: flex;
        align-items: center;
        padding: 0 20% 0 0;
        margin: 40% 0;
        font-size: 55px;
        font-weight: 200;
        order: 1;
    }
}

@media screen and (min-width: 992px) {
    .skills-link {
        display: flex;
        align-items: center;
        padding: 0 0 0 20%;
        margin: 40% 0;
        font-size: 55px;
        font-weight: 200;
        order: 3;
    }
}

@media screen and (min-width: 992px) {
    .micky-grey {
        display: flex;
        min-height: 500px;
        max-height: 500px;
        min-width: 250px;
        max-width: 250px;
        background-image: url(micky-grey.png);
        background-size: cover;
        order: 2;
    }
}

@media screen and (min-width: 992px) {
    .micky-blue {
        min-height: 500px;
        max-height: 500px;
        min-width: 250px;
        max-width: 250px;
        margin: 0 auto;
        background-image: url(micky-blue.png);
        background-size: cover;
    }
}

@media screen and (min-width: 992px) {
    .micky-pink {
        min-height: 500px;
        max-height: 500px;
        min-width: 250px;
        max-width: 250px;
        margin: 0 auto;
        background-image: url(micky-pink.png);
        background-size: cover;
    }
}

/* this changes the color of code and skills when hovering... */

.skills-link:link {
    color: #5a5a5a;
}

.skills-link:hover a {
    font-style: italic;
    color: #e545b0;
}

.skills-link:hover ~ .micky-grey {;
    display: none;
}

.skills-link:hover ~ .micky-pink {;
    display: block;
}

.code-link:hover ~ .micky-grey {;
    display: none;
}

.code-link:hover ~ .micky-blue {;
    display: block;
}

.code-link:link {
    color: #5a5a5a;
}

.code-link:hover a {
    font-style: italic;
    color: #17a1e5;
}

/* here's where I use a media query to center my head and have the link options at positions 1 and 3 on desktop */


.footer {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .footer {
        font-size: 20px;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 600px;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .contact {
        max-width: 600px;
    }
}

.contact li {
    flex: 1 auto 1;
    margin: 0 20px;
    list-style-position: outside;
}
  