* {
    font-family: 'Sukhumvit set', 'source sans pro', 'roboto', sans-serif;
    color: #5a5a5a;
    list-style: none;
    list-style-position: outside;
    box-sizing: border-box;
}

img {
   max-height: 100%;
   max-width: 100%; 
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    max-width: 900px;
    /* background-color: bisque; */
    margin: 0 auto;
}

.header {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}

h1 {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #17a1e5;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 20px auto;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-link:hover {
    color: #e545b0;
}

.skills-link:hover {
    color: #e545b0;
}

/* Dog Adoption Site card, mobile and desktop */

.project-dog {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eaeaea;
    border-bottom: 3px solid #dddddd;
    padding-right: 20px;
    margin: 0 auto 100px auto;
    max-width: 800px;
}

.project-dog .project-text {
    padding: 0 10px 0 20px;
    order: 1;
    width: 50%;
    max-width: 400px;
}

.project-dog .dog-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url(dog-adoption-preview.png) center/cover;
    margin: 20px;
    order: 2;
}

.project-dog .page-code {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    font-size: 28px;
}

@media screen and (min-width: 992px) {
    .project-dog {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #eaeaea;
        border-bottom: 3px solid #dddddd;
        padding-right: 20px;
        margin-bottom: 100px;
        max-width: none;
    }
}

@media screen and (min-width: 992px) {
    .project-dog .dog-img {
        display: flex;
        flex-direction: column;
        flex-basis: 60%;
        height: 300px;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url(dog-adoption-preview.png) center/cover;
        margin: 20px;
        order: 1;
    }
}

@media screen and (min-width: 992px) {
    .project-dog .project-text {
        order: 2;
    }
}

@media screen and (min-width: 992px) {
    .project-dog .page-code {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 200px;
        font-size: 28px;
    }
}

/* Lazy River card, both mobile and desktop */

.project-flavordome {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #eaeaea;
    border-bottom: 3px solid #dddddd;
    margin: 0 auto 100px auto;
    max-width: 600px;
}

.project-text {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    order: 1;
    width: 90%;
}

.flavordome-img {
    display: flex;
    min-width: 300px;
    max-width: 780px;
    min-height: 240px;
    max-height: 550px;
    width: 90%;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(flavordome-thumb.png) center/cover;
    margin: 0 auto;
    order: 2;
}

.project-flavordome .page-code {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    font-size: 28px;
}

@media screen and (min-width: 992px) {
    .project-flavordome {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #eaeaea;
        border-bottom: 3px solid #dddddd;
        /* padding-left: 20px; */
        margin-bottom: 100px;
        max-width: 800px;
    }
}

@media screen and (min-width: 992px) {
.flavordome-img {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 390px;
        max-width: 780px;
        min-height: 240px;
        max-height: 550px;
        align-items: center;
        justify-content: flex-end;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url(flavordome-thumb.png) center/cover;
        margin: 10px;
        order: 2;
    }
}

@media screen and (min-width: 992px) {
.project-text {
        width: 50%;
        min-width: 390px;
        margin: 10px;
    }
}

@media screen and (min-width: 992px) {
    .project-flavordome .page-code {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 200px;
        font-size: 28px;
    }
}

/* this bit of CSS was necessary if I wanted the | to change color. it had to follow both the page and code classes in HTML, so I put it at the end in my HTML and adjusted the order using flex*/

.page-selector {
    display: flex;
    order: 1;
}

.divider {
    display: flex;
    order: 2;
}

.code-selector {
    display: flex;
    order: 3;
}

/* this changes the page | code colors based on hover... remember to change it to click on mobile, hover on desktop*/

.page-selector:hover {
    color: #e545b0;
}

.code-selector:hover {
    color: #17a1e5;
}

.code-selector:hover ~ .divider {
    color: #17a1e5;
}

.page-selector:hover ~ .divider {
    color: #e545b0;
}

.project-text {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: flex-start;
}

.project-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
}

.footer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .footer {
        font-size: 20px;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-inline-start: 0;
}

@media screen and (min-width: 992px) {
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 600px;
        margin: 0 auto;
    }
}

.contact li {
    flex: 1 auto 1;
    margin: 0 20px;
    list-style-position: outside;
}

.contact-seperator {
    display: none;
}

@media screen and (min-width: 992px) {
    .contact-seperator {
        display: inline-block;
    }
}